<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Harry Potter App</a>
      <div>
        <button
          class="btn btn-outline-primary ms-2"
          routerLink="/"
          type="button"
        >
          Character List
        </button>
        <button
          class="btn btn-outline-primary ms-2"
          routerLink="/filter"
          type="button"
        >
          Character Filter
        </button>
      </div>
    </div>
  </nav>